.btn-primary {
  background: var(--button);
  border:none;
  color:var(--buttontext);
  padding: 20px 0px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  max-width:400px;
  border:2px solid #078080;
  border-radius: 50px;
  text-decoration: none;
}

.btn-outer {
display: flex;
justify-content: center;
align-items: center;
width:100%;
margin-top:20px;
}

.btn-choice {
  padding:20px 80px;
  background:transparent;
  border:none;
  font-family: 'Roboto', sans-serif;
  font-size:  1.2rem;
  font-weight:800;
  margin-bottom:5px;
  width:100%;
  max-width:350px;
  border-radius:50px;
}

#btn-yes {
  background-image: url('https://svgshare.com/s/GyL');
  background-size: cover;
  background: var(--button);
}

#btn-no {
  background: var(--buttonFalse);
  background-image: url(images/spanish.check1.svg)
}