.btn-primary {
  background: var(--button);
  border:none;
  color:var(--buttontext);
  padding: 20px 0px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  max-width:400px;
  border:2px solid #078080;
  border-radius: 50px;
}